<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net40" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net40" />
  <package id="Glimpse" version="0.86" requireReinstallation="True" />
  <package id="Glimpse.Elmah" version="0.9.7" requireReinstallation="True" />
  <package id="Glimpse.Log4Net" version="0.86.2" requireReinstallation="True" />
  <package id="Glimpse.Mvc3" version="0.86" requireReinstallation="True" />
  <package id="log4net" version="1.2.10" allowedVersions="[1.2.10]" requireReinstallation="True" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
</packages>